@import "../../common/colors.scss";

.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0px;
  color: $font-primary;
  font-weight: 400;
}

.movie-rating {
  padding-left: 3px;
  margin-top: 20px;
  color: $font-secondary;
  display: flex;
  span {
    margin-right: 20px;
  }
}

.movie-title {
  font-size: 40px;
  color: $font-primary;
}
.movie-plot {
  margin-top: 20px;
  line-height: 1.8rem;
}

.movie-info > div span:first-child {
  padding: 10px 0px;
  color: $font-primary;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.movie-info > div span {
  color: $font-secondary;
}

.fa-star {
  color: #ff9e00;
}
.fa-thumbs-up {
  color: #fafafa;
}

.fa-film {
  color: rgb(191, 213, 214);
}

.fa-calendar {
  color: peachpuff;
}

.fa-hourglass {
  font-size: 120px;
  margin-top: 70px;
  padding: 20px;
  color: rgb(150, 137, 137);
  margin-bottom: 120px;
}

.section-right {
  margin-left: 30px;
}
