@import "../../common/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@500&family=Lato:wght@700&family=Noto+Sans:ital@0;1&family=Open+Sans&family=Prompt:wght@200&family=Roboto:wght@700&display=swap");

.header {
  background: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.logo {
  font-family: "Be Vietnam Pro", sans-serif;
  color: $font-primary;
  text-decoration: none;
  font-size: 20px;
  //   font-weight: 600;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}

.search-div {
  width: 50%;
  display: flex;
  justify-content: center;
}
