@import "../../common/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@500&family=Lato:wght@700&family=Noto+Sans:ital@0;1&family=Open+Sans&family=Prompt:wght@200&family=Roboto:wght@700&display=swap");

.header {
  background: $secondary-color;
  height: 72px;
  padding: 20px 40px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.logo {
  font-family: "Be Vietnam Pro", sans-serif;
  color: $font-primary;
  text-decoration: none;
  font-size: 25px;
  padding-top: 5px;
  //   font-weight: 600;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}

.search-div {
  width: 50%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    display: flex;
    justify-content: center;

    button {
      padding: 0px 8px;
      font-size: 20px;
      cursor: pointer;
      height: 38px;
      border-radius: 5px;
      border-top: transparent;
      border-bottom: transparent;
      border-right: transparent;
    }
  }

  input {
    font-size: 35px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: 38px;
    outline: none;
  }
}
