@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@500&family=Lato:wght@700&family=Noto+Sans:ital@0;1&family=Open+Sans&family=Prompt:wght@200&family=Roboto:wght@700&display=swap");
@import "../src/common/colors.scss ";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: $primary-color;
}

.container {
  margin: 0px 40px;
}
